:root {
  --color-border-soft: var(--stone-3);
  --color-border: var(--stone-5);
  --color-border-hard: var(--stone-8);
  --color-panel-soft: var(--stone-1);
  --color-panel: var(--stone-2);
  --color-panel-hard: var(--stone-3);
  --color-primary: var(--pink-4);
  --c-white: #ffffff;
  --c-white-muted: #f3f4f4;
  --c-black: #242526;
  --c-black-muted: #3c4042;
  --c-gray: #7d7d7d;
  --c-blue-100: #e7f0fe;
  --c-blue-300: #c6dafe;
  --c-blue-500: #c6dafe;
}
