.editor {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.editorBody {
  display: grid;
  grid-template-columns: 1fr;
  align-items: start;
  gap: 1rem;
}

.editorBodyWithoutEditors {
  grid-template-columns: 1fr;
}

.result {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.resultTitle {
  font-size: 1.3rem;
  margin: 0;
}

.resultDescription {
  color: var(--gray-6);
  font-weight: 500;
}

.resultBody {
  position: relative;
}

@media (max-width: 850px) {
  .editorBody {
    grid-template-columns: 1fr;
  }
}
